name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:

  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Docker meta x86
        id: meta-x86
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=schedule,suffix=-x86
            type=ref,event=branch,suffix=-x86
            type=ref,event=pr,suffix=-x86
            type=semver,pattern={{version}},suffix=-x86
            type=semver,pattern={{major}}.{{minor}},suffix=-x86
            type=semver,pattern={{major}},suffix=-x86
            type=sha,suffix=-x86
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push x86
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-x86.outputs.tags }}
          labels: ${{ steps.meta-x86.outputs.labels }}
          file: Dockerfile
          platforms: linux/amd64
